.header{
    box-shadow: 0 0 20px rgba(0,0,0,0.1);
}
.services{
    background-image: url('/img/services/white-cloud.png');
    background-size:100%;
    background-repeat: no-repeat;
    min-height: 900px;
    padding-top: 150px;
}

.nav-row{
    margin: 0 22px;
}
.home{
    margin-left: 30px;
    font-weight: 400;
    font-size: 14px;
    color: #D9D9D9;
}
.home::before{
    content: '';
    background-image: url(../img/about_us/icon/home.svg);
    background-repeat: no-repeat;
    background-size: 14px 14px;
    width: 14px;
    height: 14px;
    position: absolute;
    margin-left: -25px;
}

.services .promo-text{
    width: 600px;
}
.services .title{
    margin-bottom: 10px;
}
.services .why-block{
    margin-bottom: 31px;
}
.services .item-text{
    width: 367px;
    height: 180px;
}
.services .item-text__style{
    width: 298px;
}
.services .item-img{
    top: 27%;
    left:30%;
}
.services .cap{
    width: 186px;
    height: 128px;
}